.navbar{
	box-shadow: 2px 2px 0px 0 orange;
	padding: 3px;
	background-color:#34414c;
	background-color: #1c2236;
}

.nav_container{
	color: #000;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container{
	margin-left: 10px;
}

.navbar li{
	/* padding: 1em; */
	display: inline;
}

.navbar a{
	margin-right:35px;
	text-decoration: none;
	list-style: none;
	display: inline-flex;
	justify-content: space-between;
    align-items: center;
	color: #fff;
}

#car_icon{
	height:40px;
	width: 40px;
	margin-left:55px;
	margin-top: 10px; 
}

#btnNav{
	display: none;
	background-color: transparent;
	border: none;
}

#hamburger_icon{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.icons_nav{
	font-size: 22px;
}

@media (max-width: 800px){
	#btnNav{
		display: block;
	}
	#car_icon{
		visibility: hidden;
	}
	.icons_nav{
		font-size: 15px;
	}
}