.navbar{
	/*box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);*/
	box-shadow: 2px 2px 0px 0 orange;
	padding: 3px;
	background-color:#34414c;
	/*border-bottom: 1px solid #000;*/
	/* width: 100%; */
	/*height: 20%;*/
	/*border: 1px solid #000;*/
	background-color: #1c2236;
}

.nav_container{
	color: #000;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container{
	margin-left: 10px;
}

.navbar li{
	/* padding: 1em; */
	display: inline;
}

.navbar a{
	margin-right:35px;
	text-decoration: none;
	list-style: none;
	/*color: #000;*/
	/*color: #6a8aff;*/
	display: inline-flex;
	justify-content: space-between;
    align-items: center;
	color: #fff;
	/*color: #707B81;*/
	/*color: #000;*/
	/*color: #34414c;*/
}

#car_icon{
	height:40px;
	width: 40px;
	margin-left:55px;
	margin-top: 10px; 
}