.container_welcome{
	margin: 3em;
	text-align: left;
}

.container_welcome h1{
	font-size: 40px;
}

#hello_admin{
	display: flex;
	align-items: center;
}

@media (max-width:800px) {
	#hello_admin h1{
		font-size: 25px;
	}
}