* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* position: relative; */
}

.main {
  width: 100%;
  min-height: calc(100vh - 120px);
}

.new_sidebar {
  
  background-color: #1c2236;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 300px;
  animation: showSidebar .4s;
}

@keyframes showSidebar {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 300px;
  }
}